<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Dictionary</string>
	<key>CFBundleExecutable</key>
	<string>Dictionary Plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSDictionaryPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Dictionary Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.1</string>
	<key>CFBundleVersion</key>
	<string>C5</string>
	<key>QSActions</key>
	<dict>
		<key>DictPluginDefineAction</key>
		<dict>
			<key>actionClass</key>
			<string>DictPlugin</string>
			<key>actionSelector</key>
			<string>define:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>Reference</string>
			<key>name</key>
			<string>Define with dict.org</string>
			<key>runInMainThread</key>
			<true/>
		</dict>
		<key>QSDictionaryLookupAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSDictionaryPlugIn</string>
			<key>actionSelector</key>
			<string>lookupWordInDictionary:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>com.apple.Dictionary</string>
			<key>name</key>
			<string>Dictionary</string>
			<key>runInMainThread</key>
			<true/>
		</dict>
		<key>QSThesaurusLookupAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSDictionaryPlugIn</string>
			<key>actionSelector</key>
			<string>lookupWordInThesaurus:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>com.apple.Dictionary</string>
			<key>name</key>
			<string>Thesaurus</string>
			<key>runInMainThread</key>
			<true/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Kevin Ballard</string>
		<key>description</key>
		<string>Look words up in the dictionary or thesaurus</string>
		<key>icon</key>
		<string>com.apple.Dictionary</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>DictPlugin</key>
			<string>DictPlugin</string>
			<key>QSDictionaryPlugIn</key>
			<string>QSDictionaryPlugIn</string>
		</dict>
	</dict>
</dict>
</plist>
